body {
    text-align: center;
}

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.modal {
    position: absolute;
    width: 505px;
    height: 606px;
    background-color: rgb(13, 230, 85);
    top: 58px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #000;
}

.show {
    visibility: hidden;
}


.displayHeader {
    color: rgb(255, 255, 255);
    font-size: 2em;
}
